<%= render 'shared/title', title: '気になる勉強会' %>
<div class="divider"></div>

<% if @study_events.exists? %>
  <div class="row">
    <%= render partial: 'bookmark', collection: @study_events, as: 'study_event' %>
  </div>
<% else %>
  <p class="no-message">気になる勉強会はありません</p>
<% end %>