 <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab"><a class="active" href="#test1" style="color: #26a69a;">プロフィール</a></li>
    <li class="tab"><a href="#test2" style="color: #26a69a;">開催した勉強会</a></li>
  </ul>
  <div id="test1" class="col s12">
    <%= render 'profile' %>
  </div>
  <div id="test2" class="row">
    <%= render 'my_study_events' %>
  </div>

    