document.getElementById('follow-form').innerHTML = ("<%= escape_javascript(render('users/unfollow')) %>");
document.getElementById('follower').innerHTML = ("フォロワー<span><%= @user.followers.count %></span>人");