<div class="section">
  <%= link_to(profile_path(notification.visitor.profile)) do %>
    <%= image_tag notification.visitor.profile.avatar.url, class: 'circle-small-img' %>
    <strong><%= notification.visitor.profile.username %></strong>
    <span class="notification-message">さんが</span>
  <% end %>

  <% case notification.action %>
  <% when 'follow' then %>
    <span class="notification-message">あなたをフォローしました</span>
  <% end %>
  <div class="right-align"><%= time_ago_in_words(notification.created_at) %>前</div>
</div>
<div class="divider"></div>
