<blockquote>
  通知
</blockquote>

<% if @notifications.present? %>
  <%= render partial: 'notification', collection: @notifications %>
<% else %>
  <p class="no-notification-message">過去の通知はありません</p>
<% end %>
