<%= render 'shared/title', title: '通知' %>

<% if @notifications.exists? %>
  <%= render partial: 'notification', collection: @notifications %>
<% else %>
  <p class="no-message">過去の通知はありません</p>
<% end %>
