<blockquote>
  募集中の勉強会
</blockquote>

<%= link_to new_study_event_path, class: 'btn-floating tooltipped btn-large waves-effect waves-light red btn-fixed', data: { position: 'top', tooltip: '勉強会を作る' } do %>
  <i class="material-icons">add</i></a>
<% end %>
