<% if tag.profiles.size > 1 %>
  <div class='chip count-chip'>
    <span style="pointer-events: none;"><%= tag.name %></span>
    <span class="profile-count">
      <%= tag.profiles.size %>
    </span>
  </div>
<% end %>
