<%= render 'shared/search', something_url: users_url %>

<%= render 'shared/title', title: '勉強仲間' %>

<div class="near-user-search-btn-wrapper">
  <button class="btn waves-effect waves-light tooltipped" onclick="getLocation()" data-position="bottom" data-tooltip="自分も近くのユーザーに見つけてもらえるようになります">
    現在地から5km以内のユーザーを検索
    <i class="material-icons left" style="margin-right: 3px;">place</i>
  </button>
</div>

<div class="row" id="search-users">
  <%= render @users %>
</div>

<%= paginate @users %>

<div id="profile-modal">
</div>
        
<script>

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = 'このブラウザーはGeolocationをサポートしていません';
  }
}

function showPosition(position) {
  $.ajax({
    type: 'POST',
    url: '/users/search_user',
    data: {
      latitude: position.coords.latitude,
      longitude: position.coords.longitude
    }
  })
}
</script>