<!-- render先でエラーを表示 -->
<% if instance.errors.any? %>
  <% instance.errors.full_messages.each do |message| %>
    <div class="card-panel red lighten-4 flash_message">
      <%= message %>
    </div>
  <% end %>
<% end %>



