<% if notice %>
  <div class="card-panel teal lighten-4 flash_message">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="card-panel red lighten-4 flash_message">
    <%= alert %>
  </div>
<% end %>