<nav class="brown darken-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Connesta</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">ホーム</a></li>
      <li><a href="#">新規登録</a></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="#">ホーム</a></li>
  <li><a href="#">新規登録</a></li>
  <li><a href="#">ログイン</a></li>
</ul>
