<h1 class="brand-name center-align">コネスタ</h1>
<div class="row top-button-wrapper">
  <div class="right-align col m6 s6">
    <%= link_to '新規登録', new_user_registration_path, class: 'btn brown darken-1' %>
  </div>
  <div class="left-align col m6 s6">
    <%= link_to 'ログイン', new_user_session_path, class: 'btn brown darken-1' %>
  </div>
  <div class="center-align col m12 s12 easy-login-btn-wrapper">
    <%= link_to 'かんたんログイン', '#', class: 'btn orange lighten-1' %>
  </div>
</div>
