<%= render 'shared/title', title: 'メッセージ' %>

<% if @rooms.exists? %>
  <ul class="collection">
    <%= render @rooms %>
  </ul>
<% else %>
  <div class="divider"></div>
  <p class="no-message">メッセージルームはありません</p>
<% end %>