// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "media_queries";

@font-face {
  font-family: "brand-name";
  src: font-url('NaishoMoji-Regular.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

nav {
  background: #039be5;
}

.brand-name {
  font-family: "brand-name";
  font-size: 110px;

  @include mq(sm) {
    font-size: 80px;
  }
}

.top-button-wrapper {
  margin-top: 100px;
}

.easy-login-btn-wrapper {
  margin-top: 20px;
}

ul {
  margin: 0;
}

.side-footer {
  height: 250px;
  margin-top: auto;
}

.logo {
  padding: 20px 30px;
  font-size: 28px;
  text-align: center;
}

.nav-link {
  padding: 0 30px;
  line-height: 40px;
  transition: all .2s;
  
  &:hover {
    background: #f5f4f4;
  }
}

.top {
  margin-top: 30px;
}

.nav-link a {
  display: block;
}

.card-pointer {
  cursor: pointer;
  transition: all .3s;
  
  &:hover {
    transform: scale(1.1);
  }
}