// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "media_queries";
@import "profiles";

@font-face {
  font-family: "brand-name";
  src: font-url('NaishoMoji-Regular.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

nav {
  background: #26a69a;
}

.brand-name {
  font-family: "brand-name";
  font-size: 110px;

  @include mq(sm) {
    font-size: 80px;
  }
}

.top-button-wrapper {
  margin-top: 100px;
}

.easy-login-btn-wrapper {
  margin-top: 20px;
}

ul {
  margin: 0;
}

.side-footer {
  height: 250px;
  margin-top: auto;
}

.logo {
  padding: 20px 30px;
  font-size: 28px;
  text-align: center;
}

.nav-link {
  padding: 0 30px;
  line-height: 40px;
  transition: all .2s;
  
  &:hover {
    background: #f5f4f4;
  }
}

.top {
  margin-top: 30px;
}

.nav-link a {
  display: block;
}

.card-pointer {
  cursor: pointer;
  transition: all .3s;
  
  &:hover {
    transform: scale(1.1);
  }
}

.card .card-action {
  padding: 16px 2px;
}

.top-other-user-purpose {
  color: #262626;
  font-style: italic;
  font-size: 18px;
}

.top-user-purpose {
  @extend .profile-user-purpose;
  color: #262626;
  margin: 0 24px;
  max-width: 252px;
  margin-bottom: 24px;
}

.tag-wrapper {
  max-width: 276px;
  padding-left: 24px
}

input[type="submit"] {
  color: #fafafa;
}

// paginate
.pagination li.active {
  background-color: #26a69a;
}

// search

.home-search-wrapper {
  display: flex;
  justify-content: center;
}

.home-search {
  display: flex;
  align-items: center;
  width: 90%;
}

.search-btn {
  color: #fafafa;
  width: 80px;
  margin-left: 10px;
}

.search-btn input {
  padding: 0px;
}