// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// user_profile
@import "media_queries";

.profile-card {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 600px;

  @include mq(sm) {
    margin-top: 30px;
  }
}

.profile-title {
  font-size: 28px;
  position: relative;
  margin-bottom: 1em;
  margin-top: 0px;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
    background-color: #26a69a;
  }

  @include mq(sm) {
    font-size: 26px;
  }
}

.profile-title-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.profile-wrapper {
  display: flex;
  align-items: center;

  @include mq(sm) {
    flex-direction: column;
  }
}

.circle-img {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  max-width: 100%;
}

.avatar-file {
  text-align: center;
  margin-bottom: 30px;
}

.genre-label {
  color: #9e9e9e;
  font-size: 0.8rem;
}

// follow
.following-btn input {
  color: #ffffff;
}

.unfollow-btn {
  transition: all .1s;
  &:hover {
    background: rgb(202, 32, 85);
  }

  input {
    color: #ffffff;
  }
}