// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// user_profile
@import "media_queries";

.profile-title {
  font-size: 26px;
  position: relative;
  margin-bottom: 16px;
  margin-top: 16px;
  display: inline-block;
  font-weight: 500;

  @include mq(sm) {
    font-size: 22px;
  }
}

.profile-title-wrapper {
  text-align: center;
  margin-bottom: 30px;
  background: #26a69a;
  color: #fafafa;
}

.profile-wrapper {
  display: flex;
  align-items: center;

  @include mq(sm) {
    flex-direction: column;
  }
}

.circle-img {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  max-width: 100%;
  min-width: 150px;

  @include mq(sm) {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }
}

.avatar-file {
  text-align: center;
  margin-bottom: 30px;
}

.profile-avatar-wrapper {
  text-align: center;
}

// follow
.following-btn input {
  color: #ffffff;
}

.unfollow-btn {
  transition: all .1s;
  &:hover {
    background: rgb(202, 32, 85);
  }

  input {
    color: #ffffff;
  }
}

.show-follow-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// index
.user-list-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 30px;

  @include mq(sm) {
    padding: 10px 10px;
  }
}

.user-list-img {
  margin-right: 20px;

  @include mq(sm) {
    padding: 5px 5px;
    margin-right: 20px;
  }
}

.user-list-name {
  font-size: 28px;
  color: #262626;
  margin-bottom: 5px;
  font-weight: 700;

  @include mq(sm) {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.user-list-detail {
  color: #262626;
  margin-bottom: 10px;

  @include mq(sm) {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.user-list-tags .chip {
  @include mq(sm) {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 5px;
  }
}

.user-list-icon {
  margin-left: auto;
}

.user-list-img {
  @include mq(sm) {
    width: 80px;
    height: 80px;
    min-width: 80px;
  }
}

.user-list-link:hover .user-list-name {
  opacity: .8;
  color: #26a69a;
  transition: all .3s;
}

.btn {
  text-transform: none;
}

.input-search-user::placeholder {
  color: #9e9e9e;
}

// modal

#profile-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 800;
  background: rgba(0, 0, 0, 0.7);
}

.modal-card {
  margin-top: 80px;
  position: relative;

  @include mq(sm) {
    max-width: 80%;
  }

  #close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .modal-divide {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .modal-connect-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    #follow-form {
      margin-left: 10px;
    }
  }

  .lead-profile {
    margin-bottom: 10px;
  }

  .modal-main-wrapper {
    display: flex;
    margin-bottom: 20px;
  }

  .stats {
    margin-bottom: 20px;
  }

  .profile-user-purpose {
    @include mq(sm) {
      font-size: 16px;
    }
  }
}

// near_user search

.near-user-search-btn-wrapper {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.range-wrapper {
  margin: 20px auto;

  @include mq(sm) {
    max-width: 90%;
  }
}

// search_user from tag

.profile-count {
  color: #fafafa;
  background: #242424;
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
  pointer-events: none;
}

.count-chip {
  border: 1px solid #242424;
  margin-top: 8px;
  margin-right: 8px;
}

.count-chip:hover {
  background: #26a69a;
  color: #fafafa;
  cursor: pointer;
}

// pagination

.pagination-wrapper {
  text-align: center;
}

// select

.select-wrapper .caret {
  top: 12px;
}

// edit

.account-divider {
  margin-top: 30px;
  margin-bottom: 30px;
}

// password-reset

.password-reset-message {
  color: #848484;
  font-size: 14px;
  text-align: center;
}