/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_self
 *= require_tree .
 */

 @import "materialize";
 @import "media_queries";
 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
  @import '@fortawesome/fontawesome-free/scss/fontawesome';
  @import '@fortawesome/fontawesome-free/scss/solid';
  @import '@fortawesome/fontawesome-free/scss/regular';
  @import '@fortawesome/fontawesome-free/scss/brands';
  @import '@fortawesome/fontawesome-free/scss/v4-shims';

  $main_color: #26a69a;

  .main_color {
    color: $main_color;
  }

 .debug_dump {
   white-space: pre-wrap;
   margin-top: 300px;
   word-wrap: break-word;
 }

 body {
   display: flex;
   min-height: 100vh;
 }

 main {
   flex-grow: 1;
 }

 .main-padding {
   padding-left: 300px;

   @include mq(sm) {
     padding-left: 0px;
   }
 }

 aside {
  //  width: 20%;
   min-width: 300px;
  //  width: 300px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   position: fixed;

   @include mq(sm) {
     position: absolute;
     left: -300px;
     height: 100%;
     transition: all 0.2s;
     background-color: #fafafa;
     z-index: 999;
   }
 }

 .container {
   min-height: 100vh;
   width: 90%;
 }

 // hamburger

 .open,
 .close {
   display: none;

   @include mq(sm) {
     display: block;
   }
 }

 .open {
   @include mq(sm) {
     position: absolute;
   }
 }

 input[type="checkbox"] {
   position: absolute;
   left: -50vw;
 }

 input[type="checkbox"]:checked ~ aside {
   @include mq(sm) {
     left: 0;
   }
 }

 input[type="checkbox"]:checked ~ .back {
   @include mq(sm) {
     position: absolute;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.7);
   }
 }