@import 'media_queries';

blockquote {
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 30px;
  border-left: 5px solid #26a69a;
}

.group-chat {
  margin-bottom: 10px;
  text-align: center;
}

.message-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-btn {
  font-size: 16px;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  background: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.room-head {
  text-align: center;
  position: relative;
}

.room-dropdown {
  position: absolute;
  right: 5px;
}

.member-count {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
  margin: 20px 0;
}

.room-matcher-wrapper {
  display: flex;
  align-items: center;
}

.room-matcher-text {
  margin-left: 20px;
}

.room-matcher-username {
  font-weight: 700;
}

.room-matcher-message {
  color: #787c7b;
}

.room-messages-created-at {
  text-align: right;
  color: #787c7b;
}