@import 'media_queries';

// index
.btn-fixed {
  position: fixed;
  bottom: 50px;
  right: 40px;

  @include mq(sm) {
    right: 20px;
    bottom: 20px;
  }
}

.follower-range-event {
  border: 5px solid #26a69a;
}

// new
.step-wrapper {
  text-align: center;
}

.stepbar-row {
  display: inline-block;
}

.stepbar {
  display: flex;
  width: 100%;
  padding: 0;
}

.stepbar li {
  font-size: 16px;
  list-style: none;
  padding-left: 180px;
  position: relative;

  @include mq(lg) {
    padding-left: 100px;
  }

  @include mq(sm) {
    padding-left: 60px;
  }

  @include mq(mini) {
    padding-left: 40px;
  }
}

.stepbar li:after {
  background-color: #BDBDBD;
  content: "";
  height: 6px;
  left: 0px;
  position: absolute;
  top: 13px;
  width: 180px;

  @include mq(lg) {
    width: 100px;
  }

  @include mq(sm) {
    width: 60px;
  }

  @include mq(mini) {
    width: 40px;
  }
}

.stepbar li:first-child {
  padding: 0;
}

.stepbar li:first-child:after {
  display: none;
}

.stepbar li span {
  background-color: #BDBDBD;
  border-radius: 50%;
  color: #fafafa;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.stepbar .done:after {
  background-color: #26a69a;
}

.stepbar .done span {
  background-color: #26a69a;
}

.display-switch {
  margin-bottom: 20px;
  text-align: left;
}

.back-btn-color {
  background: #fafafa;
  color: #26a69a;
  border: 1px solid #26a69a;
  transition: .2s ease-out;
  margin-right: 20px;
   
  &:hover {
    color: #fafafa;

    input {
      color: #fafafa;
    }
  }

  input {
    color: #26a69a;
  }
}

.study-event-img {
  max-height: 300px;
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

.event-label {
  color: #9e9e9e;
  font-size: 0.8rem;
  margin-left: 10px;
}

// event_user

.modal-btn {
  text-align: center;
  margin: 20px 0;
}

th {
  min-width: 100px;
}

#map {
  margin-bottom: 20px;
}

.study-image-title {
  color: #9e9e9e;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.checkbox-wrapper {
  margin-bottom: 25px;
}

[type="checkbox"] + span:not(.lever):before {
  top: 15px;
}

[type="checkbox"]:checked + span:not(.lever):before {
  top: 10px;
}

.checkbox-username {
  font-size: 16px;
  color: #262626;
}

// index

.study-event-card {
  cursor: pointer;

  .card-content {
    padding: 10px;
    padding-top: 5px;
    min-height: 90px;

    @include mq(sm) {
      padding-bottom: 20px;
    }
  }

  .card-action {
    padding: 16px 10px;
  }
}

.study-event-card:hover .card-title a {
  transition: all .3s;
  color: #26a69a;
  opacity: .8;
}

.study-event-title {
  background: #262626;
}

.card-content-top{
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.study-event-prefecture {
  color: #6A6E71;
  border: 1px solid #6A6E71;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  padding: 0 12px;
  padding-bottom: 5px;
  font-size: 11px;
  min-width: 60px;
  margin-bottom: 5px;
}

.card-title {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  a {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color: #262626;
  }
}

.card-action ul {
  display: flex;
  align-items: center;
}

.event-owner-name {
  margin-right: auto;
  display: inline-block;
  padding-left: 10px;
  font-weight: 600;
}

// confirm
.step-alert-message {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

// show
.study-event-show-wrapper {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 800px;
  margin-bottom: 60px;

  @include mq(sm) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.event-show-title {
  font-size: 28px;
  font-weight: 700;

  @include mq(sm) {
    font-size: 24px;
  }
} 

.event-show-owner {
  margin: 12px 0;
  transition: all .2s;

  &:hover {
    opacity: .8;
  }
}

.event-show-owner ul {
  display: flex;
  align-items: center;
  color: rgba(0,0,0,0.56);
}

.event-show-day ul {
  display: flex;
  align-items: center;
}

.event-show-img {
  min-height: 400px;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.event-date-label {
  font-size: 24px;
  font-weight: 700;
  color: #242424;
  margin-right: auto;

  @include mq(sm) {
    font-size: 20px;
  }
}

.event-show-day {
  margin: 10px 0;
  color: rgba(0,0,0,0.56);

  .event-date {
    margin-right: 10px;
  }
}

.event-show-day ul li:first-child{
  margin-right: 10px;
  padding: 0;
}

.event-show-label {
  font-size: 24px;
  font-weight: 700;
  color: #242424;
  margin-top: 50px;

  @include mq(sm) {
    font-size: 20px;
  }
}

.event-show-members {
  display: flex;
  margin: 10px 0;

  ul {
    margin-right: 15px;
    color: #224422;
    transition: all .2s;
    text-align: center;

    &:hover {
      opacity: .8;
    }
  }
}

.event-show-description, .event-show-location {
  margin: 10px 0;
}

.event-show-location-name {
  display: inline-block;
  color: #fafafa;
  background: #242424;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  padding: 0 5px;
  margin-bottom: 5px;
}

.event-content-card {
  padding-left: 0;
  display: flex;
  align-items: center;
}

#bookmark-form {
  margin-left: auto;
}

.event-show-attend-button {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

// search
.search-form-wrapper {
  display: flex;
  align-items: center;

  .first-search-list {
    width: 50%;
  }

  .second-search-list {
    width: 40%;
    margin-right: 10px;
  }

  .last-search-list {
    width: 10%;
    margin-left: 20px;
    margin-bottom: 5px;

    @include mq(sm) {
      margin-left: 10px;
    }
  }
}

.search-form-wrapper {
  .chips, .select-wrapper input.select-dropdown {
    border: 1px solid #9e9e9e;
  }

  .chips {
    min-height: 0px;
    padding-left: 10px;
  }

  .chips.focus {
    box-shadow: none;
  }

  .select-wrapper input.select-dropdown {
    padding-left: 10px;
  }
}