<p><%= @resource.email %> さん</p>

<p>
  パスワードの再設定リンクをお送りしました。<br>
  リンクの有効期限は発行してから1時間です。
</p>

<p>下記URLをクリックするとパスワード再設定画面に移動します。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※パスワード再発行の手続きにお心当たりの無い場合はこのメールを破棄してください。</p>